* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #19223b;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #0f1629;
}

.navbar a {
  color: #ccc;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #00bfff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 40px;
}

.hero-text span {
  color: #00bfff;
}

.hero-img img {
  width: 250px;
  border-radius: 50%;
  border: 3px solid #00bfff;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  background: #00bfff;
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
}

.btn.outline {
  background: transparent;
  border: 1px solid #00bfff;
  color: #00bfff;
}

.section {
  padding: 60px 40px;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 30px;
  
}

.card {
  padding: 20px;
  background: #11172b;
  border-radius: 10px;
}

.project-card {
  padding: 40px;
  background: #11172b;
  border-radius: 10px;
  margin-top: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0f1629;
}
.p{ 
    color: #00bfff;
}